

/************* Page formatting **********************************************/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    background: linear-gradient(45deg, #f802f5, #1c79e2);


  }

  .box{
    width: 80%;
    height: 600px;
    display: inline-block;
    margin: 50px 10%;
    background-color: #fff;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37);
    border-radius: 15px;
    overflow: hidden;
  }

  .box-img{
    float: left;
    /* height: 600px; */
    border-radius: 15px;
    width: 5%;
    object-fit: cover;
  }

  .box-text{
    float: left;
    padding: 70px 70px 70px 35px;
    width: 95%;

  }

  .box-text h1{
    font-style: 48px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 45px;
  }

  .box-text p{
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
  }

  .box-text .social{
    margin-top: 40px;
  }

  .box-text .social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: linear-gradient(to left, #f802f5, #1c79e2);
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    margin: 0 15px 0 0;
    transition: all ease 0.5s;
  }

  .box-text .social a:hover{
    transform: rotate(360deg)
  }
  

/************* Header Data and Formatting *********************************/






/************* Content Data and Formatting *********************************/







/************* Alternative Formatting **************************************/

/* 
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /*grid-template-areas: 
    "headerL  headerR"
    "title    title"
    "tortilla protein"
    "rice     beans"
    "extras   extras"
    "persinfo persinfo"
    "footer   footer";
  }

} */


/************* Miscelleous Test Code *************************************/


